## Perkenalan

#### Nama    : Muhammad Farid Nuriono
#### Asal    : Bandung
#### Program : Phase 0_Full Time Data Science_Batch 10

## Library

In [20]:
import pandas as pd
import numpy as np

## Load Dataset

In [21]:
df = pd.read_csv("NMC1-9.csv", sep= ";" )
df

       time(s)    V_m Current (A)  Cycle          Cap
0            0  4,098       0,997      1  2,840816667
1            1  4,096       0,998      1  2,840816667
2            2  4,094       0,999      1  2,840816667
3            3  4,093       0,998      1  2,840816667
4            4  4,092       0,999      1  2,840816667
...        ...    ...         ...    ...          ...
90977    90977  2,506       1,002      9      2,77018
90978    90978  2,504       1,002      9      2,77018
90979    90979  2,502       1,002      9      2,77018
90980    90980    2,5       1,002      9      2,77018
90981    90981  2,497       1,002      9      2,77018

[90982 rows x 5 columns]

## Information Dataset

In [22]:
df.shape #Jumlah total kolom dan baris dataset

(90982, 5)

In [23]:
df.info() #Check Type Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  object
 2   Current (A)  90982 non-null  object
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  object
dtypes: int64(2), object(3)
memory usage: 3.5+ MB

In [25]:
df.isnull().sum()  #Tidak terdapat Missing Value

time(s)        0
V_m            0
Current (A)    0
Cycle          0
Cap            0
dtype: int64

In [24]:
df.describe().T  #Statistika Standar

,count,mean,std,min,25%,50%,75%,max
time(s),90982.0,45490.500000,26264.385433,0.0,22745.25,45490.5,68235.75,90981.0
Cycle,90982.0,4.978699,2.582135,1.0,3.00,5.0,7.00,9.0

R adalah Kapasitas dalam Satuan Ohm
P adalah Daya dalam Watt
I adalah kuat arus dalam satuan Ampere
V adalah tegangan dalam satuan Volt

## Looping, Conditional If, Function Implementation

In [ ]:
def R(V, I):       
    hasil_R= V / I
    return(hasil_R)

def P(V, I):
    hasil_P= V * I
    return(hasil_P)

In [44]:
df1 = df.copy()
RP = []
j= 0

for i in df1["Cap"]:    # Looping, Conditional If, Fungsion
    if i == 2.5:
        RP.append(RP(df1["V_m"][j], df1["Current (A)"][j]))
    else:
        RP.append(RP(df1["V_m"][j], df1["Current (A)"][j]))
    j+=1
df1 = RP

TypeError: 'list' object is not callable

In [45]:
df

       time(s)    V_m Current (A)  Cycle          Cap
0            0  4,098       0,997      1  2,840816667
1            1  4,096       0,998      1  2,840816667
2            2  4,094       0,999      1  2,840816667
3            3  4,093       0,998      1  2,840816667
4            4  4,092       0,999      1  2,840816667
...        ...    ...         ...    ...          ...
90977    90977  2,506       1,002      9      2,77018
90978    90978  2,504       1,002      9      2,77018
90979    90979  2,502       1,002      9      2,77018
90980    90980    2,5       1,002      9      2,77018
90981    90981  2,497       1,002      9      2,77018

[90982 rows x 5 columns]

## Pandas Query

In [48]:
df.describe()

            time(s)         Cycle
count  90982.000000  90982.000000
mean   45490.500000      4.978699
std    26264.385433      2.582135
min        0.000000      1.000000
25%    22745.250000      3.000000
50%    45490.500000      5.000000
75%    68235.750000      7.000000
max    90981.000000      9.000000

In [53]:
df[            #Query Dataset "V_m" == 2 dan "Cycle" == 4
    (df["V_m"] == 2) &
    (df["Cycle"] == 4)
]

Empty DataFrame
Columns: [time(s), V_m, Current (A), Cycle, Cap]
Index: []